@model Znode.Engine.Admin.ViewModels.TaxClassViewModel
@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
}
<div id="ManageTaxDiv">
    @Html.Partial("_CreateEdit", Model)
</div>

