@model Znode.Engine.Admin.ViewModels.ShippingViewModel
@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
}
<div id="ManageShippingDiv">
    @Html.Partial("_CreateEdit", Model)
</div>


