
<div class="TreeClass tree-container">
    <div class="tree-search">
        <div class="right-inner-icon">
            <em class="z-search"></em>
            <input type="text" class="treesearch" />
        </div>
        <span id="categorysearchresult" data-test-selector="spnCategorySearchResult" class="error-msg"></span>
    </div>

    <div id="category_Main_Tree" data-test-selector="divCategoryMainTree" data-tree="@Model.Tree">
    </div>
</div>