<div id="listBoxView">
    <div class="col-sm-12 nopadding">
        <ul>
            <li>
                <div class="col-sm-12 nopadding">
                    <ul class="sort-box scroll-default"></ul>
                </div>
            </li>
        </ul>
    </div>
</div>