<div>
    <div class="add-remove">
        <div id="btnAllMoveRight">
            <div class="nav-option">
                <em class="z-right-all" data-toggle="tooltip" data-placement="right" type="button" title="Right All"></em>
            </div>
        </div>
        <div id="btnAllMoveLeft">
            <div class="nav-option">
                <em class="z-left-all" data-toggle="tooltip" data-placement="left" type="button" title="Left All"></em>
            </div>
        </div>
        <div id="btnMoveRight">
            <div class="nav-option">
                <em class="z-right" data-toggle="tooltip" data-placement="right" type="button" title="Right"></em>
            </div>
        </div>
        <div id="btnMoveLeft">
            <div class="nav-option">
                <em class="z-left" data-toggle="tooltip" data-placement="left" type="button" title="Left"></em>
            </div>
        </div>
    </div>
</div>