<div>
    <div class="add-remove">
        <div id="btnAllUp">
            <div class="nav-option">
                <em class="z-up-all" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up All"></em>
            </div>
        </div>
        <div id="btnMoveUp">
            <div class="nav-option">
                <em class="z-angle-up" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up"></em>
            </div>
        </div>
        <div id="btnMoveDown">
            <div class="nav-option">
                <em class="z-angle-down" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down"></em>
            </div>
        </div>
        <div id="btnAllDown">
            <div class="nav-option">
                <em class="z-down-all" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down All"></em>
            </div>
        </div>
    </div>
</div>