.brand-filter{display:flex;flex-wrap:wrap;
    li{list-style:none;text-align:center;min-width:29px;max-width:29px;
       a{font-size:20px;}
    }
     li.active-link {
    a {
        color:$anchor-tag-hover !important;
    }
}
}