
<div id="listBoxView" class="sorting-container">
    <div class="col-sm-12 nopadding">
        <ul>
            <li>
                <div>
                    <h3 class="section-heading-sub" data-test-selector = "hdgCSVHeaders">@Admin_Resources.HeaderCSVHeaders</h3>
                    <div class="col-sm-12 nopadding">
                        <ul id="CsvHeaders" data-test-selector="listCSVHeaders" class="sort-box scroll-default"></ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="add-remove">
                    <div id="btnAllMoveRight">
                        <div class="nav-option">
                            <em class="z-right-all" data-test-selector="btnAllCSVHeadersMoveRight" data-toggle="tooltip" data-placement="right" type="button" title="Right All"></em>
                        </div>
                    </div>
                    <div id="btnAllMoveLeft">
                        <div class="nav-option">
                            <em class="z-left-all" data-test-selector="btnAllCSVHeadersMoveLeft" data-toggle="tooltip" data-placement="left" type="button" title="Left All"></em>
                        </div>
                    </div>
                    <div id="btnMoveRight">
                        <div class="nav-option">
                            <em class="z-right" data-test-selector="btnCSVHeadersMoveRight" data-toggle="tooltip" data-placement="right" type="button" title="Right"></em>
                        </div>
                    </div>
                    <div id="btnMoveLeft">
                        <div class="nav-option">
                            <em class="z-left" data-test-selector="btnCSVHeadersMoveLeft" data-toggle="tooltip" data-placement="left" type="button" title="Left"></em>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3 class="section-heading-sub" data-test-selector="hdgAttributeCodes">@Admin_Resources.HeaderAttributeCodes</h3>
                    <div class="col-sm-12 nopadding">
                        <ul id="SourceColumnList" data-test-selector="listAttributeCodes" name="SourceColumnList" class="sort-box scroll-default"></ul>
                        <span class="error-msg" id="error-sourcecolumnlist" data-test-selector="valAttributeCodes"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="add-remove">
                    <div id="btnSourceAllUp">
                        <div class="nav-option">
                            <em class="z-up-all" data-test-selector="btnAttributesAllUp" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up All"></em>
                        </div>
                    </div>
                    <div id="btnSourceMoveUp">
                        <div class="nav-option">
                            <em class="z-angle-up" data-test-selector="btnAttributesMoveUp" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up"></em>
                        </div>
                    </div>
                    <div id="btnSourceMoveDown">
                        <div class="nav-option">
                            <em class="z-angle-down" data-test-selector="btnAttributesMoveDown" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down"></em>
                        </div>
                    </div>
                    <div id="btnSourceAllDown">
                        <div class="nav-option">
                            <em class="z-down-all" data-test-selector="btnAttributesAllDown" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down All"></em>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3 class="section-heading-sub" data-test-selector="hdgDatabaseColumns">@Admin_Resources.HeaderSourceColumns</h3>
                    <div class="col-sm-12 nopadding">
                        <ul id="TargetColumnList" data-test-selector="listDatabaseColumns" name="TargetColumnList" class="sort-box scroll-default"></ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="add-remove">
                    <div id="btnTargetAllUp">
                        <div class="nav-option">
                            <em class="z-up-all" data-test-selector="btnDBColumnsAllUp" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up All"></em>
                        </div>
                    </div>
                    <div id="btnTargetMoveUp">
                        <div class="nav-option">
                            <em class="z-angle-up" data-test-selector="btnDBColumnsMoveUp" data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Up"></em>
                        </div>
                    </div>
                    <div id="btnTargetMoveDown">
                        <div class="nav-option">
                            <em class="z-angle-down" data-test-selector="btnDBColumnsMoveDown" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down"></em>
                        </div>
                    </div>
                    <div id="btnTargetAllDown">
                        <div class="nav-option">
                            <em class="z-down-all" data-test-selector="btnDBColumnsAllDown" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Down All"></em>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div id="messagebox" class="error-msg" data-test-selector="popMessageBoxContainer"></div>
    </div>
</div>