@using Znode.Engine.Admin.Models
@model List<BaseDropDownList>

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    DropDownOptions attributeDropdown = new DropDownOptions() { DropDownId = "DropDownId2", DropDownList = Model, assignable = true, SortAction = "", Action = "AssignAttributes", Controller = "PIM/" + controllerName, IsAjax = false, SuccessCallBack = "", IsMultiple = true, IsDraggable = true, IsAllowCheckAll = false, SelectOptionName = "Add Attributes", ShowSubmitButton = true, IsSubOptions = false, IsDropDownHidden = false };
}

<div class="pull-right padding-left action-dropdown">
    @Html.Partial("~/Views/Shared/Controls/_CheckBoxDropDown.cshtml", attributeDropdown)
</div>
