<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="znode_multifront_paymentEntities" connectionString="metadata=res://*/PaymentTransactionEF.csdl|res://*/PaymentTransactionEF.ssdl|res://*/PaymentTransactionEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=;user id=;Password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="SwaggerBuildVersion" value="9_4_0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BuildVersion" value="9.4.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cybs.keysDirectory" value="D:\ZnodeInt\PaymentAPI\config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>