<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DisablePortalSelection" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ZnodeApiRootUri" value="http://localhost:44762" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ZnodeWebStoreUri" value="http://localhost:3288" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <!--<add key="PaymentApplicationUrl" value="http://localhost:56247/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>-->
    <add key="Stackify.Environment" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ZNodeMongoDBForLog" connectionString="mongodb://localhost/Znode_spp_905Upgrade" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>