// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');src: url('../../Fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Regular.svg') format('svg');src: url('../../Fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../Fonts/Roboto-Medium.ttf') format('truetype');src: url('../../Fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Medium.svg') format('svg');src: url('../../Fonts/Roboto-Medium.woff') format('woff');
}