
.roleandaccessright-managemenu {
    .actionpermissions {
        .control-label {
            width: 25%;
            max-width: 320px;
        }
    }
}
.user-changepassword, .payment-create, .payment-edit, .user-resetpassword {
    .form-group .control-label {
        width: 190px;
    }
}
