.devexpressreport-getreport{overflow:hidden !important;}
.dx-checkbox-container {height: auto !important;}
.dx-texteditor-container .dx-texteditor-input{border:none !important;height:auto;}
.dx-overlay-content .dx-popup-normal .dx-resizable .dx-popup-content{
    background-color: yellow ;
    color: blue;
    font-weight:bold;
}
div[title="Export Options"],div[title="Print Page"] {
        display : none !important;
}