<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="EasyTest" value="4" />
		</switches>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<!--add name="Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestExecutor.log"/-->
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
</configuration>
