@{
    ViewBag.Title = "SiteMap";
}
<div id="layout-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 site-map-container">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title" data-test-selector="lblSiteMapHeading">Site Map</h1>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding">
                    <h4 class="section-header" data-test-selector="lblSiteMapContentPageHeading">Content Pages</h4>
                    <ul id="SiteMapMenu"></ul>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding category-list">
                    <h4 class="section-header" data-test-selector="lblSiteMapCatalogHeading">Catalog Map</h4>
                    <ul id="ulCatelogMap"></ul>
                    <div id="divCatelogMap">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding category-list">
                    <h4 class="section-header" data-test-selector="lblSiteMapProductHeading">Products Map</h4>
                    <ul id="ulProductMap"></ul>
                    <div id="divProductMap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

