@model Znode.Engine.Admin.ViewModels.AttributeFamilyViewModel


<div>
    <h3>@Admin_Resources.AttributeFamilyDetails</h3> 
</div>

<div>
    @Html.Partial("~/Views/Shared/Controls/_Navigator.cshtml", Model.NavigationViewModel)
</div>