<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="ERPCustomConfig">
      <section name="ZnodeEpicorConnector" type="Znode.Engine.ERPConnector.Model.XMLConfigurationModel, Znode.Engine.ERPConnector"  />
    </sectionGroup>
  </configSections>
  
  <ERPCustomConfig>
    <ZnodeEpicorConnector>
      <controls>
         <!-- Uses this section for adding control... -->
        <add type="Text" name="UserName" value="" label="SAP User Name"  Id="txtUserName"  CSSClass=""   helptext="User Name for login."/>
        <add type="password" name="Password" value="" label="SAP Password" Id="txtPassword"  CSSClass="" />
      </controls>
    </ZnodeEpicorConnector>
  </ERPCustomConfig>
  
</configuration>