@{
    ViewBag.Title = WebStore_Resources.LinkTextContactus;
}
<div id="layout-contactus" class="container-narrow main-wrapper">
    <div class="container">
        <div class="row">
            <p class="alert alert-success text-center">@WebStore_Resources.SuccessMessageContactUs</p>
        </div>
    </div>
</div>