@{
    ViewBag.Title = WebStore_Resources.TitleUserFeedback;
}

<div id="layout-customerfeedback" class="container-narrow container main-wrapper">
    
            <p class="alert alert-success text-center mt-2">@WebStore_Resources.CustomerFeedbackConfirmationIntroText</p>
     
</div>

