<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><em class="z-left-collaps-arrow"></em></button>
    <div class="slide-container">
        <ul class="aside-panel">
            <li><a href="/PIM/PIMAttributeFamily/List">Attribute Configuration<em class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Attribute Configuration"></em></a></li>
            <li><a href="/PIM/Products/ProductList">Manage Products<em class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Products"></em></a></li>
            <li><a href="/PIM/Categories/CategoriesList">Manage Categories<em class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Categories"></em></a></li>
            <li><a href="/PIM/Catalog/CatalogList">Manage Catalog<em class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Catalog"></em></a></li>
        </ul>
    </div>
</aside>
