<div class="manage-order-tabs">
    <ul class="nav nav-tabs" id="ReturnAsidePannel">

        <!-- Tabs button Starts -->
        <li id="return-details-tab-link" class="active">
            <a data-toggle="tab" href="#return-details-tab" data-attr="data-toggle-tab">Return Detail</a>
        </li>
        <!-- Tabs button Ends -->
        <!-- Submit Return button Starts -->
        <a class="btn-text btn-text-secondary pull-right" id="btnSubmitCreateReturn" data-test-selector="btnSubmitCreateReturn" onclick="RMAReturn.prototype.SubmitCreateReturn();">
            @Admin_Resources.ButtonSubmit
        </a>
        <!-- Submit Return button Ends -->

    </ul>

</div>