@using Znode.Engine.Admin.ViewModels
@model QuoteInfoViewModel
@{
    Layout = null;
}
@using (Ajax.BeginForm("UpdateShippingAccountNumber", "Quote"
    , new AjaxOptions
    {
        UpdateTargetId = "labelShippingAccountNumber",
        HttpMethod = "POST",
        OnSuccess = "Quote.prototype.ChangeShippingAccountNumberSuccessCallback"
    }, new { @class = "dirtylisten dirty", @id = "ShippingAccountNumber" }))

{
    <div class="col-sm-12 nopadding">
        @Html.TextBoxFor(model => model.AccountNumber, new { @maxlength = "100", @Onchange = "Quote.prototype.SubmitForm(this)", @id = "txtAccountNumber", @data_test_selector = "txtAccountNumber" })
        <span style="display:none" id="spnShippingAccountNumber" class="field-validation-error" data-valmsg-replace="true">@Admin_Resources.ErrorAccountNumber</span>
        @Html.HiddenFor(model => model.OmsQuoteId)
    </div>

}