@using Znode.Engine.Admin.ViewModels
@model OrderStatusList
@{
    Layout = null;

}
@using (Ajax.BeginForm("UpdatePaymentStatus", "order"
            , new AjaxOptions
            {
                OnSuccess = "Order.prototype.OnUpdateOrderStatus",
                OnFailure = "",
            }, new { @id = "PaymentStatus", @class = "dirtylisten dirty" }))
{
    <div class="col-sm-12 nopadding">
            @Html.DropDownListFor(model => model.SelectedItemId, Model.listItem, new { @id = "ddlPaymentStatus", onChange = "Order.prototype.OnOrderStatusChange(this);", @data_test_selector = "drpPaymentStatus" })

        @Html.HiddenFor(model => model.OmsOrderId, new { @id = "hdnPaymentStatusOrderId" })
        @Html.HiddenFor(model => model.SelectedItemId)
        @Html.HiddenFor(model => model.SelectedItemValue)
    </div>
}
    
