@using Znode.Engine.Admin.ViewModels
@model OrderInfoViewModel
@{
    Layout = null;
}
@using (Ajax.BeginForm("UpdateShippingAccountNumber", "order"
                                                                , new AjaxOptions
                                                                {
                                                                    UpdateTargetId = "labelShippingAccountNumber",
                                                                    HttpMethod = "GET",
                                                                    OnBegin = "Order.prototype.ValidateShippingAccountNumber",
                                                                    OnSuccess = "Order.prototype.ChangeShippingAccountNumberSuccessCallback"
                                                                }, new { @class = "dirtylisten dirty", @id = "ShippingAccountNumber" }))
{
    <div class="col-sm-12 nopadding">
        @Html.TextBoxFor(model => model.AccountNumber, new { @maxlength = "100", @Onchange = "Order.prototype.SaveFields(this)", @id = "txtAccountNumber", @data_test_selector = "txtAccountNumber" })
        <span style="display:none" id="spnShippingAccountNumber" class="field-validation-error" data-valmsg-replace="true">Account Number is required.</span>
        @Html.HiddenFor(model => model.OmsOrderId, new { @id = "hdnShippingAccountNumberOrderId" })
    </div>

}