@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CartViewModel

<div id="div-coupons-promotions" style="display:none;">
    <div class="coupons-promotions">
        <div class="col-sm-7 nopadding margin-bottom">
            <div id="order-discount" class="pull-left">
                @Html.Partial("~/Views/Order/_Discounts.cshtml", Model)
            </div>
            <div class="col-sm-12 nopadding CSR-discount form">
                <div class="form-group">
                    <div class="control-label"><label data-test-selector ="lblCSRDiscount">@Admin_Resources.LabelCSRDiscount</label></div>
                    <div class="control-sm"><input type="number" id="txtcsrDiscount" name="csrDiscount" class="form-input" value="" data-test-selector ="txtCSRDiscount" /></div>
                    <div class="pull-left"><button type="button" class="btn-text btn-text-secondary margin-left-10" id="csrDiscount-apply" onclick="Order.prototype.ApplyCSRDiscount();" data-test-selector ="btnApplyCSRDiscount">@Admin_Resources.ButtonApply</button></div>
                    <div id="csr-discount-status" class="control-non success-msg control-lg" data-test-selector ="divCSRDiscountStatus"></div>
                </div>
            </div>
        </div>
    </div>
</div>