@using Znode.Engine.Admin.Models
@model AutoComplete

<div class="quick-order-container quickordercontainer">
    <em class="f-size zf-quick-order order-link"></em><a data-hover="dropdown" class="quickOrder dropdown-toggle">@Admin_Resources.AddProductBySku</a>
        <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
        <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
        <input type="hidden" id="hdnQuickOrderSku" name="SKU" />
        <input type="hidden" id="hdnQuickOrderProductType" name="ProductType" />
        <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
        <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
        <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryTracking" name="TrackInventory" />
        <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
        <input type="hidden" id="hdnRetailPrice" name="RetailPrice" />
        <input type="hidden" id="hdnIsPersonisable" name="IsPersonalisable" />
        <input type="hidden" id="hdnInventoryCode" name="InventoryCode" />
        <div class="dropdown-menu quick-order divQuickOrder" style="display:block">
            <div class="close-quick-order-popup close"><em class="zf-close"></em></div>
            <div class="col-xs-12">
                <div class="col-xs-10 col-sm-10 nopadding">
                    @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Order", "QuickOrder.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @class = "txtQuickOrderSku", @id = "hdnttxtSKU" } })
                </div>
                <div class="col-xs-2 nopadding">
                    @Html.TextBox("Quantity", null, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = 4 })
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6 nopadding">
                    <button class="btn-card btn-add-cart red pull-right quickOrderAddToCart" onclick="QuickOrder.prototype.Validation();" disabled="disabled">@WebStore_Resources.ButtonAddToCart</button>
                </div>
                <p id="inventorymsg" class="error-msg"></p>
            </div>
        </div>
    </form>
</div>
