@model string

<aside>
    <button type="button" id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><em class="z-left-collaps-arrow"></em></button>
    <div class="slide-container">
        <h3>@Znode.Engine.Admin.Helpers.HelperMethods.GetResourceNameByValue(Model)</h3> 
    </div>
</aside>

