<!--  This loader is for used in box or in panel-body  -->

<div class="loader-wrapper-box" id="loading-content" style="display:none">
    <div class="overlay-boxed">
        <div id="loading-div" class="loader-container">
            <div class="loader">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
            </div>
        </div>
    </div>
</div>