@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title =Admin_Resources.TitleError + " | " + Admin_Resources.Multifront;
}
<div class="container">
    <div class="col-sm-12 nopadding list-header clearfix">
        <h1 class="text-center margin-top-25">Oops!</h1>
        <h3 class="text-center margin-bottom">Something went wrong.</h3>
        <p class="text-center padding-top-bottom">An unexpected error has occurred. Please contact the system administrator.</p>
    </div>
</div>

