@using Znode.Libraries.Resources
    <div class="pull-right btn-container">
        <button id="AddMediabtn" data-test-selector="btnSave"  type="submit" class=" btn-text btn-text-secondary">@Admin_Resources.ButtonAdd</button>
    </div>
