
@{
    ViewBag.Title = Admin_Resources.TitleDAM + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@MediaManager_Resources.TitleMediaManager</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">        
        <div class="col-sm-6 col-lg-4">
            <a href="/MediaManager/MediaManager/list">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-media-list"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>Media Explorer</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/MediaManager/AttributeFamily/List">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-attribute-configuration"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>Media Attributes</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>