@using Znode.Engine.Admin.ViewModels;
@model DynamicReportViewModel

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>@Admin_Resources.LabelSelectCatalog</label>
        </div>
        <div class="control-md">
            @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, Admin_Resources.LabelAll, new { id = "ddlCatalog" })
        </div>
    </div>
</div>

