<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><em class="z-left-collaps-arrow"></em></button>
    <div class="slide-container">
        <ul class="aside-panel">
            <li class="tab-selected"><a href="#" data-test-selector="linkStoreLocator">Store Locator</a></li>        
        </ul>
    </div>
</aside>
