<div id="excelsamples" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content dirtyignore">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><em class="z-close-circle"></em></button>
                <h4 class="modal-title">@Admin_Resources.ButtonDownloadSamples</h4>
            </div>
            <div class="modal-body">
                <div id="samples" style="height:200px; overflow:auto;"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
