@using Znode.Engine.Admin.Models
@model GridModel
<div id="grid-container">
    <div class="col-sm-12 list-container">
        <div class="import-grid">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model)
            }
        </div>
    </div>
</div>

