@model Znode.Engine.Admin.ViewModels.PortalSEOSettingViewModel

@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
}

<!--Main Container-->
<div id="PortalSeoSetting">
    @Html.Partial("_PortalSEOSetting", Model)
</div>