<script type="text/javascript">
    var paramvalues = ["Store", "Begin Date", "End Date", "Visible Column"];
    function validationProcessInit(s, e) {       
        if (e.parameter.name == "ShowOnlyRegisteredUsers") {
            e.info.editor = { header: 'parameter-ShowOnlyRegisteredUsers' };
        }
        OverrideError();
    }
</script>
<script type="text/html" id="parameter-ShowOnlyRegisteredUsers">
    <div data-bind="dxCheckBox: { value: value}"> </div>
</script>

