@using Znode.Engine.WebStore.Agents
@model Int32
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 nopadding col-12 p-0 brand-banner">
            <div class="container-fluid">
                <z-widget>@Html.WidgetPartial("BannerSlider", "ProductPageSlider", "5589", "ContentPageMapping", (int)Model)</z-widget>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <z-widget>@Html.WidgetPartial("FormWidget", "Form Widget", "72771", "ContentPageMapping", (int)Model)</z-widget>
            </div>
        </div>
    </div>
</div>

