@using Znode.Engine.WebStore.Agents
@model Int32
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}
<div class="container template-search-video">
    <div class="row">
        <div class="col-sm-12 col-12 p-0 template-title nopadding mt-5">
            <z-widget>@Html.WidgetPartial("VideoWidget", "Video Widget", "8786787", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
        </div>
        <div class="col-xs-12 nopadding col-12 p-0 py-4">
            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "Text Widget", "9998781", "ContentPageMapping", (int)Model)</z-widget>
        </div>
        <div class="col-xs-12 nopadding col-12 p-0">
            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "Text Widget", "343544", "ContentPageMapping", (int)Model)</z-widget>
        </div>
        <div class="col-xs-12 nopadding col-12 p-0">
            <z-widget>@Html.WidgetPartial("SearchWidget", "Search Widget", "1255667", "ContentPageMapping", (int)Model)</z-widget>
        </div>
    </div>
</div>
