<ZnodeApiCache>
  <cache enabled="true">
    <routes>
      <!-- Account routes -->
      <!--<route template="accounts/{accountId}" enabled="true" sliding="true" duration="3600" />
			<route template="accounts/{userId}" enabled="false" sliding="true" duration="3600" />
			<route template="accounts" enabled="false" sliding="true" duration="3600" />-->
      <route template="rolespermission/{roleId}" key="rolespermission" enabled="true" sliding="true" duration="3600" />
      <route template="webstoreportal/getportal/{portalId}" key="webstoreportal" enabled="true" sliding="true" duration="3600" />
      <route template="webstoreportal/getportal/{portalId}/{localeId}/{applicationType}" key="webstoreportal_" enabled="true" sliding="true" duration="3600" />
      <route template="webstoremessage/get" key="webstoremessage" enabled="true" sliding="true" duration="3600" />
      <route template="webstoremessage/list" key="MessageKey_" enabled="true" sliding="true" duration="3600" />

      <!--Products-->
      <route template="webstoreproducts/list" key="webstoreproducts" enabled="true" sliding="true" duration="3600" />
      <route template="webstoreproducts/get/{productId}" key="webstoreproduct" enabled="true" sliding="true" duration="3600" />
      <route template="webstoreproducts/getproducthighlights/{productId}" key="producthighlights" enabled="true" sliding="true" duration="3600" />
	    <route template="publishproduct/getassociatedconfigurablevariants/{productId}" key="publishproduct" enabled="true" sliding="true" duration="3600" />

	  	<route template="webstoreproducts/getassociatedproducts" key="associatedproducts" enabled="true" sliding="true" duration="3600" />
      <route template="webstorewidget/getproducts/{key}" key="ProductListKey_" enabled="true" sliding="true" duration="3600" />

      <route template="webstorewidget/getlinkproductlist/{key}" key="getlinkproductlist" enabled="true" sliding="true" duration="3600" />

      <!--Category-->
      <route template="webstorecategory/getcategorydetails" key="categorydetails" enabled="true" sliding="true" duration="3600" />
      <route template="webstorewidget/getcategories/{key}" key="CategoryListKey_" enabled="true" sliding="true" duration="3600" />

      <route template="webstorelocator/list" key="webstorelocatorlist" enabled="true" sliding="true" duration="3600" />

      <route template="webstorewidget/getslider/{key}" key="SliderBannerKey_" enabled="true" sliding="true" duration="3600" />
      <route template="contentpage/contentpageslist" key="TextWidgetKey_" enabled="true" sliding="true" duration="3600" />
      <route template="webstorewidget/getlinkwidget/{key}" key="LinkKey_" enabled="true" sliding="true" duration="3600" />

      <route template="webstoreaccount/getuseraddresslist" key="useraddresses" enabled="true" sliding="true" duration="3600" />

      <route template= "brand/list" key="BrandListKey_" enabled="true" sliding="true" duration="3600" />

      <route template= "rmarequestitem/getrmarequestitemlist" key="rmarequestitems" enabled="true" sliding="true" duration="3600" />
      <route template= "rmarequestitem/getrmarequestitemsforgiftcard" key="rmarequestitemsforgiftcard" enabled="true" sliding="true" duration="3600" />

      <!--Publish Category-->
      <route template= "publishcategory/get/{publishCategoryId}" key="getpublishcategory" enabled="true" sliding="true" duration="3600" />
      <route template= "publishcategory/list" key="publishcategorylist" enabled="true" sliding="true" duration="3600" />
      
      <!-- Elastic search -->
      <route template="search/fulltextsearch" key="fulltextsearch" enabled="true" sliding="true" duration="3600" />
      <route template="search/facetsearch" key="facetsearch" enabled="true" sliding="true" duration="3600" />
      <route template="search/getseourldetails/{*seoUrl}" key="getseourldetails" enabled="true" sliding="true" duration="3600" />
      <route template="urlredirect/geturlredirectlist" key="geturlredirectlist" enabled="true" sliding="true" duration="3600" />

      <route template="webstorewidget/gettagmanager/{key}" key="tagmanager" enabled="true" sliding="true" duration="3600" />
      <route template="webstorewidget/getformconfigurationbycmsmappingid" key="FormAttributeGroupKey_" enabled="true" sliding="true" duration="3600" />

      <route template="search/getcatalogkeywordsredirectlist" key="getcatalogkeywordsredirectlist" enabled="true" sliding="true" duration="3600" />

      <!-- ERP Connectors -->
      <route template="erpconfigurator/list" key="erpconfiguratorlist" enabled="true" sliding="true" duration="3600" />
      <route template="erpconfigurator/getallerpconfiguratorclassesnotindatabase" key="getallerpconfiguratorclassesnotindatabase" enabled="true" sliding="true" duration="3600" />
      <route template="erpconfigurator/{erpconfiguratorId}" key="geterpconfigurator" enabled="true" sliding="true" duration="3600" />

      <!-- Portal  -->
      <route template="portal/getdisplaysetting/{portalId}" key="getdisplaysettingbyportalId" enabled="true" sliding="true" duration="3600" />

      <route template="portal/getportalapprovaldetailsbyid/{portalId}" key="getportalapprovaldetailsbyid" enabled="true" sliding="true" duration="3600" />
      
      <!-- Domain  -->
      <route template="domain/list" key="domainlist" enabled="true" sliding="true" duration="3600" />
      <route template="domain" key="domainlistroute" enabled="true" sliding="true" duration="3600" />

      <!--RMAReturn-->
      <route template="rmareturn/getreturnstatuslist" key="getreturnstatuslist" enabled="true" sliding="true" duration="3600" />

      <!-- Highlight -->
      <route template="gethighlightbycode/{highlightCode}" key="highLightDetailByCode" enabled="true" sliding="true" duration="3600" />
    </routes>
  </cache>
</ZnodeApiCache>
