<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="ZNodeECommerceDB" connectionString="Data Source=MSSVR039;Initial Catalog=Znode_Multifront_90_UAT;User Id=znode;Password=mrr@123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Znode_Entities" connectionString="metadata=res://*/DataModel.ZnodeEntities.csdl|res://*/DataModel.ZnodeEntities.ssdl|res://*/DataModel.ZnodeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSVR039;Initial Catalog=Znode_Multifront_90_UAT;User Id=znode;Password=mrr@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ZNodeMongoDB" connectionString="mongodb://MSSVR039/Znode_Multifront_90_UAT" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ZNodeMongoDBForLog" connectionString="mongodb://MSSVR039/Znode_Multifront_90_UAT_LogMessages" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="ZnodeApiRootUri" value="http://api9x.znodellc.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdminWebsiteUrl" value="http://admin9x.znodellc.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- The path to the DLSC license file. Defaults to /data/default/config if not specified. -->
    <add key="EnableFileLogging" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableDBLogging" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MongoInitialCatalog" value="Znode_Multifront_90_UAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ZnodeReportFolderName" value="ZNodeUATReport" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
