@model List<Znode.Engine.Admin.AttributeValidationHelpers.LocaleDataModel>
@{
    int attributeId = Convert.ToInt32(Request.QueryString["pimattributeid"]);
}

<div class="col-sm-12 nopadding">
    @Html.Partial("~/Areas/PIM/Views/ProductAttribute/_Locale.cshtml", Model)
</div>

<div class="col-sm-12 nopadding margin-top-25 dirtyignore" id="divDefaultAtrributeValue">
    @if (attributeId > 0)
    {
        <div class="col-sm-12 nopadding">
            <h3 class="section-heading pull-left">@Admin_Resources.LabelOptionsDefaultValues</h3>

            @{Html.RenderAction("SwatchType", "ProductAttribute", new { @attributeId = attributeId });}

            @{Html.RenderAction("DefaultValues", "ProductAttribute", new { @attributeId = attributeId });}
        </div>
    }
    else
    {
         <div class="col-sm-12 nopadding">
                 <h3 class="section-heading">@Admin_Resources.LabelOptionsDefaultValues</h3>
                 <span class="margin-bottom">@PIM_Resources.LabelManageOption</span>
         </div>
     }
</div>