@*---Payment View PopUp----*@
<div class="modal fade payment-view-popup" id="payment-view-popup-ipad" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="btn close close-circle-icon" data-dismiss="modal" data-test-selector="btnPaymentViewClose" style="display:none;"></button>
            <div class="modal-body">
                <div class="payment-view-content">
                    <div class="col-12 p-0 b2b-block no-shadow">
                        <h3 class="block-title"> @WebStore_Resources.MakePayment</h3>
                    </div>
                    <div id="order-view-content" class="order-view-content pt-4 pb-2 px-4"></div>
                    <div id="payment-view-content" class="payment-view-content"></div>
                    <div id="errorPayment" class="field-validation-error pl-4"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="Quote.prototype.ClosePopup(this)" id="btnClosePopup" name="closePopup" class="btn btn-secondary" data-dismiss="modal" data-test-selector="btnPaymentViewClose">
                    @WebStore_Resources.ButtonCancel
                </button>
                <button onclick="User.prototype.PayInvoice(this)" id="btnPayInvoice" data-isquote="true" name="PayInvoice" class="btn btn-primary" data-test-selector="btnSubmitPayment">
                    @WebStore_Resources.SubmitPayment
                </button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("IsFromInvoice", true)