@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@model UserViewModel
<div id="layout-account-editaddress" class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">My Account</a> / Saved Credit Card</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 right-container">
                            <div class="col-12 p-0">
                                <h1 class="page-title" data-test-selector="hdgSavedCreditCard">@WebStore_Resources.LinkSavedCreditCard</h1>
                            </div>
                            <div class="col-12 p-0">
                                @Html.Action("CreditCardDetails", "User")
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>