@model Znode.Custom.Engine.WebStore.CustomHighRadiusTokenModel
@{
    var token = Model.Token;
    var carddetails = Model.CardDetails;
}
<p>Please wait while your order is being processed...</p>
<script>
    $(document).ready(function (token, carddetails) {
        // The following piece can be removed once High Radius is functional again. This was added to ensure that the values in the cookie are set properly.
        cookieHandler = {};
        cookieHandler.setItem = function (cname, cvalue, exdays) {
            var d = new Date();
            exdays = exdays ? exdays : '1';
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        };

        cookieHandler.getItem = function (cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        };
        var data = { token: "@token", carddetails: "@carddetails", message: "success" };
        cookieHandler.setItem("initiateHighRadiusToken", JSON.stringify(data));
    });
</script>
