<aside>
    <div class="slide-container">
        <ul class="aside-panel">
            <li>@Html.AuthorizedRawActionLink("Overview", "GetPowerBIReport", "PowerBI", "", new { @data_test_selector = "linkPowerBIOverview" })</li>
        </ul>
    </div>
</aside>
