<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="ERPCustomConfig">
      <section name="ZnodeMockERPConnector" type="Znode.Engine.ERPConnector.Model.XMLConfigurationModel, Znode.Engine.ERPConnector"  />
    </sectionGroup>
  </configSections>

  <ERPCustomConfig>
    <ZnodeMockERPConnector>
      <controls>
        <add type="Text" name="MockERPUserName" value="" label="User Name"  Id="txtUserName"  CSSClass=""   helptext="Please enter user name to connect." isheader="true"/>
        <add type="password" name="MockERPPassword" value="" label="Password" Id="txtPassword"  CSSClass="" isheader="true"/>
        <add type="Text" name="ERPLinkUrl" value="" label="Link Url"  Id="txtERPLinkUrl"  CSSClass=""/>
      </controls>
    </ZnodeMockERPConnector>
  </ERPCustomConfig>

</configuration>
