@using Znode.Engine.Admin.Models
@model List<BaseDropDownList>
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    DropDownOptions _data = new DropDownOptions() { DropDownId = "DropDownId2", DropDownList = Model, assignable = true, SortAction = "", Action = "AssociateAttributes", Controller = controllerName, IsAjax = false, SuccessCallBack = "", IsMultiple = true, IsDraggable = true, IsAllowCheckAll = false, SelectOptionName = "Add Attributes", ShowSubmitButton = true, IsDropDownHidden = false };
}
<div class="pull-right padding-left action-dropdown">
    @Html.Partial("~/Views/Shared/Controls/_CheckBoxDropDown.cshtml", _data)
</div>
