@model  Znode.Engine.Admin.Models.GridModel

<div class="col-sm-12 col-lg-7 associated-categories nopadding">   
    <div class="col-sm-5 col-md-4 nopadding"><h4>Available column list</h4></div>
    <div class="col-sm-1 col-md-2"></div>
    <div class="col-sm-5 col-md-4 nopadding"><h4>Selected column list</h4></div>
    @Html.EditorFor(m => m.FilterColumnList)
</div>
    
