<div class="navigation-block" itemscope itemtype="https://schema.org/SiteNavigationElement">
    @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId(), portalId = Helper.GetCurrentPortalId(), localeId = Helper.GetLocaleId(), publishState = Helper.GetPublishState(), accountId = Helper.GetUserAccountId(), catalogId = Helper.GetUserProfileCatalogId() }); }
</div>
