<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ZnodeECommerceDB" connectionString="Data Source=mssvr013\sql2016;Initial Catalog=Znode_spp_905Upgrade;User Id=znode;Password=mrr@123" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="ZnodeMongoDBForLog" connectionString="mongodb://localhost/Znode_spp_905Upgrade" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ZnodeApiRootUri" value="http://localhost:44762/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ZnodeAdminUri" value="http://localhost:6766/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="PaymentApplicationUrl" value="http://localhost:56247/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="EnableFileLogging" value="0" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ZnodeApiDomainName" value="localhost:44762" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ZnodeApiDomainKey" value="8a8b4931-7d57-42e8-a005-b1c0cce49f1d" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ZnodePaymentApiDomainName" value="localhost:56247" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ZnodePaymentApiDomainKey" value="D90942CF-E967-432F-9FCE-35F1F77AB2BB" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
