
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!--Left Panel-->
    <aside>
        <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><em class="z-left-collaps-arrow"></em></button>
        <div class="slide-container">
            <h3>SetUp</h3>
        </div>
    </aside>
    <!--Main Container-->
    <section class="main-container">
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 title-container">
                <h1>Work In Progress</h1>
            </div>
            <div class="col-sm-12 box-container">
                <img src="~/Content/Images/comingsoon.png" alt="Coming Soon"class="img-responsive" style="margin:100px auto;" />
            </div>
        </div>
    </section>
</div>
